* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  background-color: #e8280b;
  height: 75px;
  
  
}

.follow {
  color: white;
  font-size: 40px;
}

.follow a {
  color: white;
}

/*========================NEW==========================*/
#new {
  margin-top: 10px;
}

#new h4 {
  width: 80%;
  margin-left: 10%;
}

#new .container-fluid {
overflow: hidden;
align-items: flex-start;
}

.left{
  width: 60%;
  max-height: 100%;
}

.right {
  width: 30%;
}

/*---------------------- Nav bar-----------------------------------*/
.navbar {
  height: 75px;
  border-bottom: 1px solid #cccccc;
}
.container-fluid {
  width: 80%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*=====================Highlights=======================*/

#highlights {
  width: 80%;
  margin-left: 10%;
  border-top: 4px solid #cccccc;
}

h4 {
  height: 40px;
  padding: 7px 0px 13px 0px;
}

#highlights .left-side,
#highlights .right-side {
  width: 45%;
  margin-top: 20px;
}
.author {
    color: #cccccc;
}
.posts img {
  width: 100%;
}


.posts {
    margin-bottom: 40px;
}

.post-info {
    width: 30%;
    height: 30px;
    border: 1px solid #cccccc;
    /* display: flex;
    justify-content: space-between; */

}

a{
  text-decoration: none;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.title:hover {
  color: red;
}

/*--------------------- TRENDING --------------------------------*/

#trending {
    width: 80%;
  margin-left: 10%;
  border-top: 4px solid #cccccc;
}

.section {
  display: flex;
  justify-content: space-between;

}

.columns {
    width: 23%;
}

/* .trending-posts {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
.trending-posts img {
    width: 100%;
} */

.date {
    color: #cccccc;
}


/*==================EDITOR PICK=====================*/
#editor-pick {
  width: 80%;
  margin-left: 10%;
  border-top: 4px solid #cccccc;
}

.article {
  display: flex;
  margin-bottom: 30px;
}

.thumb {
  width: 40%;
}

.thumb img {
  width: 90%;
  

}

#editor-pick .posts {
  width: 45%;
}




/*==================Widget=====================*/

#widget {
  background-color: #252525;
  color: #b0b1b4;
  height: 350px;
  padding-top: 50px;
}

.col-4 p, .col-3 p, .col-2 p {
  margin-top: 10px;
}

.col-4 img {
  width: 250px;
  margin-bottom: 15px;
}

.row {
  width: 85%;
  margin-left: 10%;

}

h6 {
  color: white;
}

.col-3 .fas {
margin-right: 10px;
}


.col-2 ul {
  list-style: none;
  padding-left: 0;
}


/*================== Footer=======================*/

footer {
  height: 50px;
  background-color: #1e1e1e;
  color: #949494;
  padding: 15px 145px;
}



